<!DOCTYPE html>
<html>
    <head>
        <title>soup.wtf</title>
        <link rel="stylesheet" href="static/css/dark.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>soup.wtf</h1>

        <main>
            <article>
                <p>experimental tilde/static website server thingy.</p>

                users on this server:
                {{- range $index, $filename := listFiles "/" }}
                  {{- if fileExists (print $filename "/public/index.html") }}
                  <p>
                  <a href="/~{{ $filename }}/">~{{ $filename }}</a>
                  </p>
                  {{- end }}
                {{ end }}
            </article>
        </main>
    </body>
</html>
